/*
https://flatuicolors.com/palette/se
https://fonts.google.com/specimen/Titillium+Web?preview.text_type=custom
*/

html {
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    color: #2d3436;
}


body {
    background-color: #dfe6e9;
}

.mainLogo{
    transition: 200ms ease-in-out;
}

.mainLogo:hover{
    transform: rotate(-90deg);
}

.title {
    font-weight: 500;
    color: #51cbff;
}

.bgimg {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    background-position: center;
    background-size: cover;
    background-image: url('./Assets/Pictures/skyPhotoStars.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}

.contactBarButton, .styleBarButton {
    color: #dfe4ea;
}

.subTitle {
    color: #dfe4ea;
    font-weight: 500;
    font-size: 70%;
}

.slogan{
    color: #dfe4ea;
}

.arrowImg{
    position: relative;
    top: 8em;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
}

.exploreBtn {
    position: relative;
    margin-top: 7em;
    width: 300px;
    background-color: #51cbff;
    opacity: 1;
    transition: 150ms linear;
}

.exploreBtn:hover {
    opacity: 0.5;
    transform: translateY(-10px);
}

#why p {
    font-size: medium;
}

.phoneNavBar {
    cursor: pointer;
    background-color: #2d3436;
}

#dropdownClick{
    background-color: #2d3436;
}

.TermsFooter {
    list-style: none;
    color: #747d8c;
    margin-bottom: 10px;
}

.bottomFooter {
    color: #dfe4ea;
    background-color: #2d3436;
}

.greyfont {
    color: #636e72;
}