/*
https://flatuicolors.com/palette/se
https://fonts.google.com/specimen/Titillium+Web?preview.text_type=custom
*/

body, html {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;

}

h1 {
    color: #2d3436;
}


body {
    background-color: #dfe6e9;
}

.title {
    font-weight: 500;
    color: #51cbff;
}

.bgimg {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
    background-position: center;
    background-size: cover;
    background-image: url('./Assets/Pictures/skyPhotoStars.png');
    min-height: 100%;
}

.styleBarButton {
    color: #dfe4ea;
}

.subTitle {
    color: #dfe4ea;
    font-weight: 500;
    font-size: 70%;
}

.TermsFooter {
    list-style: none;
    color: #747d8c;
}

.slogan{
    color: #dfe4ea;
}

.arrowImg{
    position: relative;
    top: 8em;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
}